# Copyright (c) 2026  Everywhere Computing, Inc. All Rights Reserved.
#
# DO NOT DELETE THIS!!!!
# Ignore these entries git!

# Build directories

# General
iso/
obj/
dist/
release/
.cargo/

# Rust
target/

# CMake
CMakeFiles/

# Cache Temp stuff
.cache/
.tmp/
.temp/
logs/

# FILES
imageres.dll

# Generic Temporary/Cache
*.tmp
*.temp
*.cache
# MacOS
.DS_Store
.AppleDouble
.LSOverride
# Windows
Thumbs.db
ehthubs.db
Desktop.ini

# Binaries
*.elf
*.bin
*.exe
*.dll
*.o
# Python Binaries
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/

# Privacy
*.env

# Linux
*~
.directory

# Build Files
*.a
*.so
*.dylib
*.map
*.out
CMakeCache.txt
cmake_install.cmake

# Add Rust here
#Cargo.lock

# Private Documentation
anthaude.intrusion.md
FuturePlans.*
FuturePlans*.*
coding_style.md
srvins.md

# No need to push documentation

## This is a temporary docx file we do not want pushed.
~$S EULA*.docx
